#app-info {
    .card {
        border-top: 0;
        border-width: 3px;
    }
    .card-group>.card:not(:first-child) {
        border-top-right-radius: 0;
    }
    .card-group>.card:not(:last-child) {
        border-top-left-radius: 0;
    }
}
#app-docs nav.navbar {
    background-color: var(--sp-neutral-lighter) !important;
    border: 3px solid var(--sp-neutral-quaternary);
    border-radius: 0 0 0.25rem 0.25rem;
    border-top: 0;
}
/* Remove the extra top padding on the content row */
#contentRow {
    padding-top: 0 !important;
}
/* Extend the Comments pane full width in a modern page */
#CommentsWrapper > div:first-child {
    max-width: none;
    width: 100%;
    div[data-sp-feature-tag="Comments"] {
        max-width: none;
        padding: 0 24px 20px;
    }
    div[data-sp-feature-tag="Comments"]::before {
        margin: 10px 0 0 0;
    }
}
/* Icon size */
#datatable table tbody img.icon {
    max-height: 32px;
    max-width: 32px;
}
/* Extend the WebPart full width in a modern page */
#spPageCanvasContent div.CanvasZone > div:first-child {
    max-width: none;
    div.ControlZone {
        margin: 24px 0 0 0;
        padding: 0;
    }
}
/* Hide the page title in a modern page */
div.webPartContainer {
    display: none;
}
/* Apply changes to the Settings Panel */
div.spPropertyPaneContainer div[aria-label='App Catalog Managment Tool property pane'] div[data-automation-id='propertyPaneGroupContent'] {
    /* Align version to the right */
    >div:last-child label {
        text-align: right;
    }
}