@import "../../node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css";

/* Create a reusable 'SharePoint Blue' background color */
.bs .bg-sharepoint {
    background-color: #0078d4 !important;
}

/* Shrink the filter card panel to match the navbar size */
/* It shouldn't be taller than the navbar (looks weird) */
.bs .card-body {
    padding: 0.782rem;
}

/** Color match the toggle background color to 'SharePoint Blue' */
.bs .form-check-input:checked {
    background-color: #0078d4;
    border-color: #0078d4;
}

/* Align the filter buttons in the filter card panel */
.bs .custom-switch {
    padding-top: 0.3rem;
}

/* Adjust the filter card panel to match the table design */
.bs .filter-card {
    background-color: rgba(0,0,0,0.05) !important;
    border: 3px solid #dee2e6 !important;
    border-top: 0 !important;
    border-radius: 0 0 0.25rem 0.25rem !important;
}

/* Add some space between the filter icon buttons */
.bs .filter-icon {
    margin-left: 0.75rem !important;
}

/** Make the navbar taller; it shouldn't be shorter than the filter card panel */
.bs .navbar {
    padding: 0.75rem 1rem !important;
}

/* Color match the pagination link color to 'SharePoint Blue' */
.bs .page-link {
    color: #0078d4;
}

/* Match the table footer to the table header; size & color */
.bs .tbl-footer {
    border-bottom: 3px solid #dee2e6 !important;
}

table.dataTable tbody > tr > td {
    vertical-align: middle !important;
}

/* Center the DataTables 'number of entries' properly */
#table .dataTables_info {
    padding-top: 0.85rem !important;
}

/* Hide the datatable search box #DataTables_Table_0_filter */
#table .dataTables_filter > label {
    display: none;
}

.bs .btn-icon.filterTopBtn {
    padding:5px !important;
}
/* "Show # entries": #DataTables_Table_0_length > label */

/* Move toast messages down some
.ms-trcnoti-ctr {
    top:100px !important;
}
 */

 /* Force styles to override bootstrap responsive changes */
.bs .navbar-expand-lg { flex-flow: row nowrap; justify-content: flex-start; }
.bs .navbar-expand-lg .navbar-toggler { display: none; }
.bs .mt-lg-0, .bs .my-lg-0 { margin-top: 0 !important; }
.bs .mb-lg-0, .bs .my-lg-0 { margin-bottom: 0 !important; }
.bs .navbar-expand-lg .navbar-collapse { display: flex !important; flex-basis: auto; }

/* Color match colReorder line */
div.DTCR_pointer {
    background-color: #0078d4;
}